<!DOCTYPE html>
<html>
  <head></head>
    <body>
      
      <div class= "container">
          <p>You have received a message from the site's contact form from:
            <div class="row"> <%= "#{ @name }" %> 
            </div> 
            <div class="row"> <%= "Comments:" "\n" "#{ @email }" %>
            </div
          </p>
          <p><%= @body %></p>
      </div>
  </body>
</html>