<!DOCTYPE html>
<html>
  <head></head>
    <body>
      
      <div class= "container">
          <p>You have received a message from the site's contact form from:
            <div class="well"> 
              <%= "Name: " "#{ @name }" %> 
            </div> 
            <div class="well"> 
              <%= "Email: " "#{ @email }" %>
            </div>
          </p>
          <p>
            <div class="well">
              <%= "Comments:" "#{ @body }" %>
            </div>
          </p>
      </div>
  </body>
</html>